# LaTeX intermediate files
*.aux
*.log
*.synctex.gz
*.fls
*.fdb_latexmk
*.toc
*.out
*.bbl
*.blg
*.lot
*.lof
*.nav
*.snm
*.vrb
*.gz
*.xdv
*.loa
*.loq
*.lol
*.los
*.loz
*.ltx
*.idx
*.ilg
*.ind
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.fls
*.out
*.dvi
*.ps
*.pdfsync
*.bak
*.backup
*.swp
*.synctex